html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {
background:transparent none repeat scroll 0 0;border:0 none;font-size:100%;margin:0;outline-style:none;outline-width:0;padding:0;vertical-align:baseline;}

h1, h2, h3, h4, h5, h6, li {line-height:100%;}

.clear {
	clear: both;
}
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 35px;
	color: #fff;
}
a {
	color: #9c9b9b;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
}
p {
	text-align: justify;
}
.x {
	float: right;
	margin: -20px -55px 0px 0px;
}
::selection {
	background: #00b3db;
}
::-moz-selection {
	background: #00b3db;
}
.hr {
	height: 1px;
	width: 800px;
	background: url('../images/hr-wide.gif') no-repeat;
	margin: 15px 0px 25px 0px;
}
.hr-white {
	height: 1px;
	width: 800px;
	background: url('../images/hr-wide-white.gif') no-repeat;
	margin: 15px 0px 25px 0px;
}
.hr-gallery {
	height: 1px;
	width: 250px;
	background: url('../images/hr-wide-white.gif') no-repeat;
	margin:0px;
}
#section-about-top,
#section-portfolio-top,
#section-resume-top {
	height: 150px;
}

#container {
	width: 950px;
	margin: 0 auto;
}
#header {
	width: 100%;
	height: 60px;
	position: fixed;
	padding: 25px;
	z-index: 50;
	background: #000000 /*url('../images/arnab_logo.gif') no-repeat*/;
}
#innerHeader {
	width: 930px;
	height: 50px;
	margin: 0 auto;
	padding-right: 80px;
}
#innerHeader h1 {
	width: 400px;
	height: 50px;
	float: left;
	margin-left: 6px;
	display: inline;
}

/* Style the menu and position list items */
ul.mainMenu {
	position: relative;
	height: 50px;
	float: right;
	margin-right: 20px;
}
ul.mainMenu li {
 	float: left;
	list-style-type: none;
}

/* Style and position links and images in second level list items */
ul.subnav {
	width: 150px;
}
ul.subnav li {
	clear: both;
	width: 150px;
}
ul.mainMenu li a {
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
	display: block;
}

/* When hovering over main list items, show second level lists */
ul.cssonly li:hover ul { display: block; }

/* Position and style second level lists and items */
ul.mainMenu ul {
	position: absolute;
	float: right;
	background: #000000;
	display: none; /* Hide until parent list item is hovered on */
}
ul.mainMenu ul li { height: 35px; line-height: 35px; }
ul.mainMenu ul a {
	color: #ffffff;
	font-size: 12px;
	display: block;
	height: 35px;
	line-height: 35px;
}
ul.mainMenu ul a:hover {
	color: #9c9b9b;
}

/* IE6 FIXES */
ul.mainMenu li,
ul.mainMenu li a { _float:left; _display: inline; }

#section-about,
#section-resume,
#section-portfolio {
	background: #000;
	padding: 40px 75px 60px 75px;
}
#section-portfolio .gallery-image-small {
	width: 250px;
	float: left;
	margin-right: 25px;
	margin-bottom: 20px;
}
#section-portfolio h3 {
	margin: 15px 0px 15px 0px;
}
grouped_elements.image-border {
	text-decoration: none;
	border: 0 none;
}
h2 {
	text-indent: -9999px;
	width: 256px;
	height: 41px;
	margin: -54px 0px 30px 270px;
}
h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}
h4 {
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0px 10px 0px;
}
.gallery-image-small {
	width: 250px;
	float: left;
	margin-right: 25px;
}
.gallery-image-small-last {
	width: 250px;
	float: left;
	margin-right: 0px;
}
.socialicons {
	float: left;
	margin: 0 auto;
	background-position: 0 0;
	width: 32px;
	height: 32px;
}
.socialicons:hover  {
	background-position: 0 -32px;
}
.linkedin  {
	background: url(../images/icons/linkedin.png)
}
.social {
	width: 16px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.resume {
	clear:none;
	width: 171px;
	display: block;
    margin: 0 auto 40px auto;
}
.fadeMe {
	opacity:0.5;
	display:block;
	margin-right:20px;
	float:left;
}
